<div class="container">
    <mat-toolbar color="primary">
        <span>IT 05-1</span>
    </mat-toolbar>

    <div class="content">
        <button mat-raised-button color="primary" class="main-button" (click)="getTicket()">
            รับบัตรคิว
        </button>

        <!-- <div class="bottom-button-container"> -->
            <button class="bottom-button" mat-raised-button color="default" (click)="clearQueue()">
                ล้างคิว
            </button>
        <!-- </div> -->
    </div>
</div>
